@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: 'fin';
    src: url('../fonts/FinSerifDisplay-Italic.ttf');
}
@font-face {
    font-family: 'next';
    src: url('../fonts/NEXT\ ART_Bold.otf');
}
@font-face {
    font-family: 'doctor';
    src: url('../fonts/Doctor\ Glitch.otf');
}
@font-face {
    font-family: 'lemon-m';
    src: url('../fonts/LEMONMILK-MediumItalic.otf');
}
@font-face {
    font-family: 'lemon-r';
    src: url('../fonts/LEMONMILK-Regular.otf');
}
@font-face {
    font-family: 'coding';
    src: url('../fonts/D2Coding-Ver1.3.2-20180524.ttc');
}
@font-face {
    font-family: 'coding1';
    src: url('../fonts/D2Coding-Ver1.3.2-20180524-ligature.ttc');
}
@font-face {
    font-family: 'coding3';
    src: url('../fonts/D2Coding-Ver1.3.2-20180524-all.ttc');
}
@font-face {
    font-family: 'regular';
    src: url('../fonts/regular.woff');
}
@font-face {
    font-family: 'Mapo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'nanum';
    src: url('../fonts/NanumMyeongjo.otf');
}
@font-face {
    font-family: 'nanumb';
    src: url('../fonts/NanumMyeongjoBold.otf');
}
@font-face {
    font-family: 'nanume';
    src: url('../fonts/NanumMyeongjoExtraBold.otf');
}
a {
    text-decoration: none;
}
/* --------------------------------- */

/* header */
header .inner {
    width: 100%;
    height: 5vh;
    /* background-color: antiquewhite; */
    border: 1px solid rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    position: relative;
    font-size: 1.2rem;
    box-shadow: 3px 3px 7px -7px;
}
header .inner p {
    transition: all .5s;
}
header .inner p a {
    color: #222;
    font-family: 'next';
    text-transform: capitalize;
}
header .inner p::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    /* position: absolute; */
    /* bottom: 10px; */
    background-color: black;
    transition: all .5s;
    font-family: 'next';
}
header .inner p:hover::after{
    width: 100%;
}
/* header */

/* main */
/* left-box */
main .container {
    width: 100%;
    height: 95vh;
}
main .container .inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
main .inner .left-box {
    width: 30%;
    height: 100%;
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 0 30%;
    gap: 100px;
}
main .inner .left-box h1 {
    /* flex: 1; */
    justify-items: end;
    vertical-align: bottom;
    font-size: 3.5rem;
    font-family: 'fin';
}
main .inner .left-box .left-text {
    flex: 0 0 31%;
    font-size: 1.5rem;
}
main .inner .left-box .left-text p {
    font-size: 2rem;
    font-family: 'nanum';
}
main .inner .left-box .left-text span {
    margin: 30px 0 0 0;
    display: block;
}
main .inner .left-box .left-text span a {
    color: #000;
    font-size: 1.3rem;
    border-bottom:1px solid ;
    font-family: 'nanum';
}



main .inner .right-box {
    width: 70%;
    height: 100%;
    flex: 0 0 60%;
}



/* right-box */
main .inner .right-box {
    width: 70%;
    height: 53%;
    margin: 0 auto;
}
main .inner .right-box .right-box-text {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    margin: 0 auto;
}
main .inner .right-box .right-box-text .flex {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
main .inner .right-box .right-box-text input {
    height: 100px;
    margin: 20px;
    border-radius: 10px;
    padding: 0 0 0 15px;
    font-family: 'nanum' ;
}
main .inner .right-box .right-box-text .name {
    width: 45%;
    height: 50px;
    flex: 0 50% 0 ;
}
main .inner .right-box .right-box-text .email {
    width: 45%;
    height: 50px;
    flex: 0 50%  0;
}
main .inner .right-box .right-box-text .subject {
    height: 100px;
}
main .inner .right-box .right-box-text .memo {

}
main .inner .right-box .right-box-text .box1 {
    width: 30%;
    height: 50px;
    border: none;
    border-radius: 10px;
    transition: all .5s;
    font-family: 'next';
    padding: 0;
    background-color: #444655;
    color: #fff;
    font-family: 'nanum';
}
main .inner .right-box .right-box-text .box1:hover {
    font-size: 1.1rem;
    cursor: pointer;
    /* box-shadow: 0px 0px 20px 1px #785D7B; */
}
/* hide */
main .container {
    position: relative;
}
main .container .hide.active{
    display: block;
}
main .container .hide {
    width: 50%;
    height: 60%;
    background-color: #fff;
    position: absolute;
    top: 15%;left: 42%;
    display: none;
    opacity: .9;
}
main .container .hide.opacity{
    opacity: .9;
}
main .container .hide .inner {
    width: 100%;
    height: 50%;
}
main .container .hide img {
    display: block;
    width: 170px;
    height: 170px;
}
main .container .hide .btn1 {
    width: 100%;
    height: 100px;
    position: relative;
}
main .container .hide .btn1  a{
    position: absolute;
    top: 10%;
    right: 5%;
    padding: 30px;
}
main .container .hide .btn1 span {
    width: 30px;
    height: 2px;
    background-color: black;
    display: block;
    transition: all .5s;
    position: absolute;
    left: 30%;
    /* transform: translate(-50%,-50%); */
}
main .container .hide .btn1 a span:nth-child(1) {
    top: 20%;
}
main .container .hide .btn1 a span:nth-child(2) {
    top: 35%;
}
main .container .hide .btn1 a span:nth-child(3) {
    top: 50%;
}
main .container .hide .btn1 a:hover span:nth-child(1){
    transform: rotate(45deg);
    top: 50%;
}
main .container .hide .btn1 a:hover span:nth-child(2) {
    top: 50%;
    width: 0;
}
main .container .hide .btn1 a:hover span:nth-child(3) {
    transform: rotate(-45deg);
    top: 50%;
}
main .container .hide .inner1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60%;
}
main .container .hide .inner1 .btn2 {
    color: black;
}
main .container .hide .inner1 span {
    display: block;
    text-align: center;
}
main .container .hide .inner1 i {
    font-size: 5rem;
    color: #222;
}
main .container .hide .inner1 p {
    text-align: center;
    font-size: 2rem;
    margin: 0 0 50px;
    color: #222;
    font-family: 'nanum';
}

button {
    border-radius: 10px;
    width: 400px;
    height: 130px;
    position: absolute;
    top: 26%;
    right: 10%;
    font-size: 1.3rem;
    color: #fff;
    background-color: #444655;
    box-shadow: 7px 7px 50px 10px;
    transition: all .5s;
    font-size: 2rem;
    font-family: 'nanum';
    text-transform: capitalize;
}
button:hover {
    box-shadow: inset -.3rem -.1rem 1.4rem  #222, inset .3rem .4rem .8rem #222; 
    cursor: pointer;
}

/* main */